= form_with model: current_user.passive_relationships.find_by(following_id: user.id), method: :delete, local: false do |f|
  = f.hidden_field :following_id
  = f.submit "フォロー中", class: "edit-btn d-block mx-auto bg-white font-weight-bold"