/レビュー星評価 travel_recordからrender(index,new,editで使用)
- if action_name == 'index' && action_name == 'show'
  javascript:
    $('#star-rate-#{travel_record.id}').raty({
      size     : 36,
      starOff: "#{asset_path('star-off.png')}",
      starOn: "#{asset_path('star-on.png')}",
      starHalf: "#{asset_path('star-half.png')}",
      half: true,
      readOnly: true,
      score: #{travel_record.review},
    });
 /-elsif action_name == 'show'
  javascript:
    $('#star-rate-#{@travel_record.id}').raty({
      size     : 36,
      starOff: "#{asset_path('star-off.png')}",
      starOn: "#{asset_path('star-on.png')}",
      starHalf: "#{asset_path('star-half.png')}",
      half: true,
      readOnly: true,
      score: #{@travel_record.review},
    });
- else
  - if @travel_record.review.present?
    javascript:
      $('#star-rate-#{@travel_record.id}').raty({
        size     : 36,
        starOff: "#{asset_path('star-off.png')}",
        starOn: "#{asset_path('star-on.png')}",
        starHalf: "#{asset_path('star-half.png')}",
        half: true,
        score: #{@travel_record.review},
      });
  - else
    javascript:
      $('#star').raty({
        size     : 36,
        starOff: "#{asset_path('star-off.png')}",
        starOn: "#{asset_path('star-on.png')}",
        starHalf: "#{asset_path('star-half.png')}",
        scoreName: 'travel_record[review]',
        half: true,
      });