.spot-detail {
  @extend %box !optional;

  &__heading {
    @extend %heading !optional;
  }

  &__hr-blue {
    @extend %hr-blue !optional;
  }

  &__name--green {
    color: #54bca9;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__review--score-size {
    @extend %score-size !optional;
  }

  &__img {
    width: 425px;
    height: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 0.25rem;
    object-fit: cover;
  }

  // TODO: 投稿者名のスタイル作成

  &__info {
    @extend %info !optional;
  }

  &__post-btn {
    width: 160px;
    padding: 5px;
  }

  // TODO:テーブルのスタイル作成
}