// Bootstrap 色のカスタマイズ
$theme-colors: ("primary": #30a1f2, "light": #e5e5e5, "success": #54bca9);
$custom-light: #f1f1f1;
$custom-gray: #909397;
$custom-green: #54bca9;
$custom-yellow: #feb25c;
$custom-bg-yellow: #fefff7;
$custom-search-form-bg-yellow: #fdf966;

$blue: #30a1f2;

$green: #54bca9;

$gray: #787369;

$gold : #d9b340;

$green: #54bca9;

%hr-blue {
  width: 100%;
  height: 2px;
  background-color: $blue;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

%heading {
  font-size: 1.5rem;
  font-weight: bold;
}

%text-decoration-none {
  text-decoration: none;
}

%star-size {
  width: 20px;
  height: 20px;
  margin-right: 5px !important;
}

%score-size {
  font-size: 1.2rem;
}

@mixin box($bg-color) {
  background-color: $bg-color;
  border: 1px solid $gray;
  border-radius: 5px;
}

@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'spot-list';
@import 'flower-list';
@import 'search-form';
@import 'flower-detail';
@import 'spot-detail';




.box {
  background-color: white;
  border: 1px solid $custom-gray;
  border-radius: 5px;
}

// 全要素の余白をリセット
* {
  margin: 0;
  padding: 0;
}

@mixin main-font {
  font-family: DIN Condensed;
}

// サムネイル画像の表示設定
@mixin thumb-img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  object-fit: cover;
}

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 700px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info !optional;
}

.alert-alert {
  @extend .alert-danger !optional;
}

// placeholderの文字サイズを変更
.form-control::placeholder {
  font-size: 12px;
}

.blue-color {
  color: $blue;
}

.yellow-color {
  color: $custom-yellow;
}

// リンクの文字色
.link {
  color: black;
}

// ボタンの修正
.btn-block+.btn-block {
  margin-top: 0;
}

// ボタン文字色の修正
.btn-success {
  color: white;
}

// フォントの設定
body {
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ ゴシック", sans-serif;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

// 背景色の設定
.bg-color {
  background-color: $custom-bg-yellow;
}

.card {
  border-radius: 15px;
}

// 非同期時フラッシュメッセージの設定
.alert {
  margin-bottom: 0;
}

header {
  border-bottom: 0.2rem solid $custom-gray;

  .logo img {
    width: 180px;
    height: 55px;
    object-fit: cover;
  }

  img {
    @include thumb-img;
  }
}

// body幅の設定
.home-width {
  width: 1000px;
}

.w-95 {
  width: 95%;
}

// コンセプト欄のデザイン設定
.card-body {
  color: $custom-gray;
  font-weight: bold;
}

// ラベルの文字色
label {
  color: $custom-gray;
}

// サブタイトル文字の設定
.information {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 0;
}


.main-img {
  height: 535px;
  background-image: url("main_img.png");
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}

// プロフィール画像の表示
.profile-wrapper img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
}

// 区切り線
.hr-gray {
  width: 100%;
  height: 2px;
  background-color: $custom-gray;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

// フッター
footer {
  text-align: center;
  background-color: #fff;
  border-top: 0.2rem solid $custom-gray;
  color: $custom-gray;
  @include main-font;
}

// スポット投稿ページ
.travel-record-wrapper {
  img {
    @include thumb-img;
  }

  // a {
  //   color: black;
  // }

  // レビュー星の間隔(new,editで使用)
  #star img {
    margin-right: 40px;
  }

  // レビュー星の間隔(index,showで使用)
  .star-size img {
    width: 20px;
    height: 20px;
    margin-right: 5px !important;
  }

  .post-img {
    margin-right: 0;

    img {
      width: 300px;
      height: 300px;
      border: 1px solid $custom-gray;
      border-radius: 5%;
      object-fit: cover;
    }
  }
}

.spot-detail {
  .title {
    color: $custom-green;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .btn-width {
    width: 160px;
    padding: 5px;
  }

  .img {
    width: 425px;
    height: 350px;
    display: block;
    margin: 20px auto;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    object-fit: cover;
  }

  // 写真一覧の投稿者名
  .contributors {
    position: absolute;
    right: 10%;
    bottom: 5%;
    color: white;
    text-shadow: 1px 1px 0 $custom-gray, -1px 1px 0 $custom-gray, 1px -1px 0 $custom-gray, -1px -1px 0 $custom-gray;
  }
}

// スポット詳細ページのテーブル設定
.table {
  font-weight: normal;

  // 文字（地図）の中央配置
  .tr-hight {
    height: 20rem;
  }

  tr {
    height: 4rem;

    th {
      // font-weight: normal;
      padding: 1.5rem;
    }
  }
}

// 地図の画面サイズ
#map {
  height: 300px;
  width: 70%;
}

// ページネーションの設定
.pagination {
  justify-content: center;
  padding-top: 1.5rem;
}

// プロフィールページの設定
.user-page {

  .post-list {
    a {
      color: black;
    }

    // レビュー星の間隔(new,editで使用)
    #star img {
      margin-right: 40px;
    }

    // レビュー星の間隔(index,showで使用)
    .star-size img {
      width: 20px;
      height: 20px;
      margin-right: 5px !important;
    }
  }

  .card {
    border: none;
  }

  .trim-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
  }

  .edit-btn {
    width: 140px;
    border: 1px solid $custom-gray;
    border-radius: 0.25rem;
    color: $custom-gray;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
  }

  .follow-btn {
    width: 140px;
    border: none;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
  }

  .self-introduction {
    width: 500px;
    height: 200px;
    background-color: $custom-light;
    border-radius: 5px;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
  }

  .content {
    height: 90px;
    background-color: $custom-light;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .favorite-list {
    .name {
      color: $custom-green;
    }

    .location {
      padding: 5px;
      color: white;
      background-color: #d9b340;
    }

    .feature {
      line-height: 1.4;
      color: #999999;
    }
  }

  .follow-list {
    img {
      @include thumb-img;
    }
  }
}