/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$blue: #30a1f2;
@import "bootstrap/scss/bootstrap";

$main-blue: #30a1f2;
$light-yellow: #fefff7;
$light-gray: #909397;

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 700px;
  padding: 2rem;
}

header {
  border: 2px solid $light-gray;
}

// 背景色の設定
.bg-color {
  background-color: $light-yellow;
}

// max-width
.mw-md {
  max-width: 700px;
}

// ***** 以下を追加 *****
.mw-xl {
  max-width: 1200px;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// placeholderの文字サイズを変更
.form-control::placeholder {
  font-size: 12px;
}

// 区切り線
hr {
  height: 2px;
  background-color: $main-blue;
  width: 100%;
  border: none;
}

// オリジナルボタンのカスタマイズ
.btn-main,
.btn-main.disabled,
.btn-main:disabled {
  color: #fff;
  background-color: $main-blue;
  border-color: $main-blue;
}

/* focusされた時の枠線の色 */
.btn-main:focus,
.btn-main.focus,
.btn-main:not(:disabled):not(.disabled):active:focus,
.btn-main:not(:disabled):not(.disabled).active:focus,
.show>.btn-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 120, 230, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-main:hover {
  color: #fff;
  background-color: #0078e6;
  border-color: #0d7dfc;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-main:not(:disabled):not(.disabled):active,
.btn-main:not(:disabled):not(.disabled).active,
.show>.btn-main.dropdown-toggle {
  color: #fff;
  background-color: #005ee6;
  border-color: #0059fe;
}

// ここまで

// フッター
footer {
  text-align: center;
  color: $light-gray;
}