.flower-detail {
  @include box(#FDF9EF);

  &__name {
    color: $gray;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__season {
    padding: 5px;
    color: white;
    background-color: $gold;
  }
}