%hr--blue {
  width: 100%;
  height: 2px;
  background-color: #30a1f2;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

%text-decoration-none {
  text-decoration: none;
}

%blue {
  color: #30a1f2;
}

%green {
  color: #54bca9;
}

%gray {
  color: #787369;
}

$gold : #d9b340;

$green: #54bca9;