%hr--blue {
  width: 100%;
  height: 2px;
  background-color: $blue;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

%a {
  text-decoration: none;
}

%p {
  color: $custom-gray;
  font-size: 0.9rem;
}

%green {
  color: #54bca9;
}