.post-field {
  @include box(white);

  &__heading {
    @extend %heading;
  }

  &__hr-blue {
    @extend %hr-blue;
  }

  &__img {
    @extend %post-img;
  }

  #star img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }
}