.profile-detail {
  a {
    color: $gray;
  }

  %btn {
    width: 140px;
    border: 1px solid $gray;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
  }

  &__thumb-img img {
    @extend %thumb-img;
  }

  &__heading {
    @extend %heading;
  }

  &__hr-blue {
    @extend %hr-blue;
  }

  &__circle-img {
    @extend %circle-img;
  }

  &__card {
    max-width: 1000px;
  }

  &__edit-btn {
    @extend %btn;
  }

  &__follow-btn {
    width: 140px;
    border: none;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
  }

  &__unfollow-btn {
    @extend %btn;
    color: $light;
  }

  &__self-introduction {
    width: 500px;
    height: 200px;
    background-color: $light;
    border-radius: 5px;
  }
}