.spot-list {
  a {
    @extend %a;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__hr {
    @extend %hr--blue;
  }

  &__card {
    border: none;
  }

  &__star-size {
    width: 20px;
    height: 20px;
    margin-right: 5px !important;
  }

  &__season {
    width: 9.7rem;
    padding: 0.1rem;
    color: white;
    background-color: #d9b340;
  }

  &__link {
    padding: 15px;
  }

  &__body {
    color: #444444;
    font-size: 0.9rem;
    padding: 15px;
  }

  &__name {
    @extend %green;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
  }

  &__feature {
    @extend %p;
    margin: 0;
  }

  &__image {
    width: 230px;
    height: 230px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    padding: 15px;
  }
}