.spot-list {
  @extend %box !optional;

  a {
    @extend %text-decoration-none !optional;
  }

  &__heading {
    @extend %heading !optional;
  }

  &__hr-blue {
    @extend %hr-blue !optional;
  }

  &__card {
    border: none;
  }

  &__review--star-size img {
    @extend %star-size !optional;
  }

  &__season {
    width: 11rem;
    color: white;
    background-color: #d9b340;
  }

  &__body {
    color: black;
    font-size: 0.9rem;
    padding: 15px;
  }

  &__name--green {
    font-size: 1.2rem;
    font-weight: bold;
    color: #54bca9;
  }

  &__feature--gray {
    margin: 0;
    font-size: 0.9rem;
    color: #909397;
  }

  &__image {
    width: 230px;
    height: 230px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin-top: 15px;
  }
}