.spot-detail {
  @include box(white);

  &__heading {
    @extend %heading;
  }

  &__hr-blue {
    @extend %hr-blue;
  }

  &__name--green {
    color: $green;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__review--score-size {
    @extend %score-size;
  }

  &__image {
    width: 425px;
    height: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 0.25rem;
    object-fit: cover;
  }

  // TODO: 投稿者名のスタイル作成

  &__info {
    @extend %info;
  }

  &__post-btn--width {
    width: 160px;
    padding: 5px;
  }

  // TODO:テーブルのスタイル作成
}