.spot-list {
  @include box(white);

  a {
    @extend %text-decoration-none;
  }

  &__heading {
    @extend %heading;
  }

  &__hr-blue {
    @extend %hr-blue;
  }

  &__card {
    border: none;
  }

  &__review--star-size img {
    @extend %star-size;
  }

  &__season {
    width: 11rem;
    color: white;
    background-color: $gold;
  }

  &__body {
    color: black;
    font-size: 0.9rem;
    padding: 15px;
  }

  &__name--green {
    font-size: 1.2rem;
    font-weight: bold;
    color: $green;
  }

  &__feature--gray {
    margin: 0;
    font-size: 0.9rem;
    color: $gray;
  }

  &__image {
    width: 230px;
    height: 230px;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin-top: 15px;
  }
}