.user-detail {
  @extend %box !optional;

  &__link--black {
    @extend %link-color !optional;
  }

  &__link-hover ::hover {
    text-decoration: underline;
  }

  &__thumb-img img {
    @extend %thumb-img !optional;
  }

  &__heading {
    @extend %heading !optional;
  }

  &__hr-blue {
    @extend %hr-blue !optional;
  }

  &__info {
    @extend %info !optional;
  }

  &__star-size img {
    @extend %star-size !optional;
  }

  &__score-size {
    font-size: 1rem;
  }

  &__img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
  }

  &__content {
    height: 90px;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 5px;
  }

  &__spot-name--green {
    color: #54bca9;
  }
}