.mb-4
  = render 'layouts/flash_messages'
.main-img.mb-5
= render 'search_form'
= render 'current_month_flower_items', flower_items: @flower_items, current_month: @current_month
= render 'current_month_spots', spots: @spots